
.eb-garamond-font {
  font-family: "EB Garamond", serif;
  
}
.sp-icon{
    font-size: 30px;
    margin-right: 10px;
    color: #B68C5A;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
}
.sli i{
    font-size: 15px;
    margin-left: 10px;
}